src/main/mule/01-databaseendpoint-start.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">

	
	
	<flow name="01-databaseendpoint-startFlow" doc:id="69f126f9-9aee-47b2-8828-64f832e75895" >
		<http:listener doc:name="Listener" doc:id="91aad510-5246-403e-bfba-1ee3c598e418" config-ref="HTTP_Listener_config" path="/db"/>
		<db:select doc:name="Select" doc:id="876e8a5e-42cd-47e0-a95d-96d7ee7bf528" config-ref="Database_Config">
			<db:sql >SELECT * FROM product where brand_name=:bname

 </db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	bname: attributes.queryParams.bname as String
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3e05dd99-f737-44c5-897a-82f1114a363a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4febe622-7f39-4f85-8d9a-d6dfe851cc67" message="#[payload]"/>
	</flow>
</mule>
